+++
type = "page"
layout = "single"
+++  
<!-- Header Section Start class="img-header-format" -->
    <header id="video-area"  data-stellar-background-ratio="0.5" class="img-header-format" style="background-image: url('/eos-web/img/blog/serversCern.jpg');">
        <div class="fixed-top">
            <div class="container">
                <div class="logo-menu">
                  <a href="https://eos.web.cern.ch" class="logo"><img src="/eos-web/img/logos/EOS_logo1.svg" alt="" width="100" height="60"></a>
                  <button class="menu-button " id="open-button"><i class="lnr lnr-menu"></i></button>
                </div>
            </div>
        </div>
        <div class="overlay overlay-2"></div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="contents text-center">
                      <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">EOS Open Storage</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->



    <!-- About YUM Section Start -->
    <section id="aboutUs" class="section">
        <div class="container">
            <div class="section-header">
              <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"> About <span>YUM</span></h2>
              <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            </div>

            <div id="what-is-yum" class="text">
                <p>
                    <code>Yum</code> is the primary tool for getting, installing, deleting, querying,
                    and managing Red Hat Enterprise Linux RPM software packages from official Red Hat software repositories,
                    as well as other third-party repositories. <code>Yum</code> is used in Red Hat Enterprise Linux versions 5 and later.
                    Versions of Red Hat Enterprise Linux 4 and earlier used up2date.
                    <!--this info come from this URL: https://access.redhat.com/solutions/9934 -->
                </p>
                
                <p>
                    From release 4.2.3, the rpms are signed with a gpg key. In order to use gpg check,
                    you have to import the public key by issuing the <code>rpm --import http://storage-ci.web.cern.ch/storage-ci/storageci.key</code>
                    command.
                </p>
            </div><br>


            <div class="text">
                <h3 class="section-highlight"><span><strong>Software Repositories</strong></span></h3><br>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Production Branch</strong></li><br>
                    <ul>
                        <table class="table table-striped">
                            <thead></thead><!--table without header -->
                            <tbody>
                              <tr>
                                <td class="same-width">Aquamarine</td>
                                <td><a href="https://dss-ci-repo.web.cern.ch/dss-ci-repo/eos/aquamarine/tag/" target="_blank">https://dss-ci-repo.web.cern.ch/dss-ci-repo/eos/aquamarine/tag/ </a></td>
                              </tr>
                              <tr>
                                <td class="same-width">Aquamarine-Dependencies</td>
                                <td><a href="https://dss-ci-repo.web.cern.ch/dss-ci-repo/eos/aquamarine-depend/" target="_blank">https://dss-ci-repo.web.cern.ch/dss-ci-repo/eos/aquamarine-depend/ </a></td>
                              </tr>
                              <tr>
                                <td class="same-width">Citrine</td>
                                <td><a href="http://storage-ci.web.cern.ch/storage-ci/eos/citrine/tag/" target="_blank">http://storage-ci.web.cern.ch/storage-ci/eos/citrine/tag/ </a></td>
                              </tr>
                              <tr>
                                <td class="same-width">Citrine-Dependencies</td>
                                <td><a href="http://storage-ci.web.cern.ch/storage-ci/eos/citrine-depend/" target="_blank">http://storage-ci.web.cern.ch/storage-ci/eos/citrine-depend/</a></td>
                              </tr>
                            </tbody>
                        </table>
                    </ul>

                    <li class="list-group-item"><strong>Developement Branch</strong></li><br>
                    <ul>
                        <table class="table table-striped">
                            <thead></thead><!--table without header -->
                            <tbody>
                              <tr>
                                <td class="same-width">Aquamarine-Dev</td>
                                <td><a href="https://dss-ci-repo.web.cern.ch/dss-ci-repo/eos/aquamarine/commit/" target="_blank">https://dss-ci-repo.web.cern.ch/dss-ci-repo/eos/aquamarine/commit/</a></td>
                              </tr>
                              <tr>
                                <td class="same-width">Citrine-Dev</td>
                                <td><a href="http://storage-ci.web.cern.ch/storage-ci/eos/citrine/commit" target="_blank">http://storage-ci.web.cern.ch/storage-ci/eos/citrine/commit</a></td>
                              </tr>
                            </tbody>
                        </table>
                    </ul>
                </ul>
            </div>
        </div>
    </section>
    <!-- About YUM Section End -->


