<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     {{ partial "meta.html" . }}

    <link rel="canonical" href="{{ .Permalink }}">

    {{ partial "head_includes.html" . }}
   </head>
  <body lang="en">
  {{ partial "menu.html" . }}
  {{ partial "subheader.html" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>

   {{ partial "footer.html" }}

