 <!-- Footer Section Start -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="social-icons wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
              <ul>
                <li class="facebook"><a href="https://www.facebook.com/cern/"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="https://twitter.com/cern"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
            <div class="site-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
              <p>All copyrights reserved &copy; 2017 - EOS Service at CERN</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->
<!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lnr lnr-arrow-up"></i>
    </a>

    <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src={{ "js/jquery-min.js" | relURL}}> </script>
    <script src={{ "js/tether.min.js" | relURL}}> </script>
    <script src={{ "js/bootstrap.min.js" | relURL}}> </script>
    <script src={{ "js/classie.js" | relURL}}> </script>
    <script src={{ "js/mixitup.min.js" | relURL}}> </script>
    <script src={{ "js/nivo-lightbox.js" | relURL}}> </script>
    <script src={{ "js/owl.carousel.min.js" | relURL}}> </script>
    <script src={{ "js/jquery.stellar.min.js" | relURL}}> </script>
    <script src={{ "js/smooth-scroll.js" | relURL}}> </script>
    <script src={{ "js/smooth-on-scroll.js" | relURL}}> </script>
    <script src={{ "js/wow.js" | relURL}}> </script>
    <script src={{ "js/menu.js" | relURL}}> </script>
    <script src={{ "js/jquery.vide.js" | relURL}}> </script>
    <script src={{ "js/jquery.counterup.min.js" | relURL}}> </script>
    <script src={{ "js/jquery.magnific-popup.min.js" | relURL}}> </script>
    <script src={{ "js/waypoints.min.js" | relURL}}> </script>
    <script src={{ "js/form-validator.min.js" | relURL}}> </script>
    <script src={{ "js/contact-form-script.js" | relURL}}> </script>
    <script src={{ "js/main.js" | relURL}}> </script>


  </body>
</html>

