<div class="menu-wrap">
        <nav class="menu navbar">
          <div class="icon-list navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#video-area">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#features">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#documentation">Documentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#collaborations">Collaborations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#blog">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
        <button class="close-button" id="close-button"><i class="lnr lnr-cross"></i></button>
    </div>
