<div class="menu-wrap">
        <nav class="menu navbar">
          <div class="icon-list navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/eos-web/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/eos-web/#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/eos-web/#features">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/eos-web/#documentation">Documentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/eos-web/#collaborations">Collaborations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/eos-web/#blog">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/eos-web/#contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
        <button class="close-button" id="close-button"><i class="lnr lnr-cross"></i></button>
    </div>
