<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="EOS Open Storage - Large Disk Storage at CERN">
<meta name="author" content="Maria Arsuaga Rios AND Aurora de Miguel de Couto">
<meta name="keywords" content="EOS, CERN, CERN storing, CERN analysis">
