<!-- Header Section Start -->
  <header id="video-area" data-stellar-background-ratio="0.5">
        <div id="block" data-vide-bg={{ "videos/DataCenterSmall.mp4" | relURL}} data-vide-options="posterType: png"></div>
        <div class="fixed-top">
            <div class="container">
                <div class="logo-menu">
                  <a href="index.html" class="logo"><img src={{ "img/logos/EOS_logo1.svg" | relURL}} alt="" width="100" height="60"></a>
                  <button class="menu-button " id="open-button"><i class="lnr lnr-menu"></i></button>
                </div>
            </div>
            </div>
        <div class="overlay overlay-2"></div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="contents text-center">
                      <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">EOS Open Storage</h1>
                      <h2 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">CERN storage technology</h2>
                      <h2 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s"> used at the Large Hadron Collider (LHC)</h2>
                      <a href="http://eos-docs.web.cern.ch/eos-docs/quickstart.html" target="_blank" class="btncolor">Quickstart</a></br>
                      <a href="http://eos-community.web.cern.ch" target="_blank" class="btn btn-border">EOS Community</a>
                      <a href="https://indico.cern.ch/event/862873/"  target="_blank" class="btn btn-border">2020 Workshop</a>
                      <a href="http://eos-docs.web.cern.ch/eos-docs/releases/citrine-release.html#v4-6-8-citrine"  target="_blank" class="btn btn-border">Latest V4.6.8</a>
                      <a href="https://www.geant.org/News_and_Events/Pages/Up2U-remote-learning-platform-expands-access-to-all-schools-and-universities-across-Europe.aspx"  target="_blank" class="btn btn-border">openUp2U</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
